* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    position: relative;

}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
}

/* START TransitionGroup_____________________________ */
.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translate(-850px);
}

.post-enter-active {
    transform: translate(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translate(-850px);
    transition: all 500ms ease-in;
}

/* END TransitionGroup_____________________________ */

/* START Loader ---------------------------------- */
.loadingWait {
    display: flex;
    justify-content: center;
    margin-top: 100px
}
/* END Loader ---------------------------------- */
